* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 4fr auto;
  grid-template-areas:
    "head head "
    "main main"
    "foot foot";
}

header {
  grid-area: head;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 0 2.5rem;
  background: cadetblue;
}
.box {
  margin-left: 1rem;
}

.box:first-child {
  margin-right: auto;
}

main {
  grid-area: main;
  display: grid;
  align-items: center;
  justify-items: center;
}

footer {
  grid-area: foot;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 0 2.5rem;
  background: cadetblue;
}

button:focus {
  outline: none;
}

header button {
  font: inherit;
  padding: 0.5rem 1rem;
  justify-self: center;
  background: #20b2aa;
  border: 1px solid #20b2aa;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

header button:hover,
header button:active {
  background: #afeeee;
  border-color: #afeeee;
  color: #2f4f4f;
}

footer a,
footer p {
  font-size: 1.1rem;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  cursor: pointer;
  color: burlywood;
}

label {
  font-size: 1.4rem;
  color: #20b2aa;
}

select {
  font-size: 1rem;
  padding: 0.5em 4em 0.5em 1em;
  background: #2f4f4f;
  color: #fff;
  border: none;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #20b2aa;
  height: 100%;
  width: 3em;

  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.5em;

  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgb(255, 255, 255, 0.5);

  top: 35%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgb(255, 255, 255, 0.5);

  top: 65%;
}

.logo span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  max-width: 20em;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.emoji {
  font-size: 2rem;
  text-align: center;
}

#entry-text,
#joke {
  width: 30rem;
  margin: 5rem auto;
  max-width: 70%;
  padding: 1rem;
  overflow-wrap: break-word;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

#entry-text p {
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 30em) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 4fr auto;
    grid-template-areas:
      "head"
      "main"
      "foot";
  }

  header {
    height: 150px;
    display: flex;
    flex-direction: column;
    grid-area: head;
    height: 3rem;
  }

  header button {
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: foot;
  }

  footer p {
    font-size: 0.9rem;
  }

  footer a {
    display: none;
  }

  #entry-text {
    width: 20rem;
    margin: 4rem auto;
    max-width: 80%;
  }

  #entry-text p {
    font-size: 1rem;
    text-align: center;
  }

  .logo span {
    color: #fff;
    font-size: 1rem;
  }
}
